<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="/static/upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <img src="/static/dermaid-high-resolution-logo-white-transparent (1).png" class="logo-image" alt="Logo">
                </div>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/upload" class="active">Upload</a></li>
                    <li><a href="/templates/faq.html">About Us</a></li>
                    <li><a href="/templates/index.html#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="hero-section">
        <div class="hero-content">
            <h1>Upload Your Image for Diagnosis</h1>
            <p>Get a quick and accurate diagnosis for your skin condition.</p>
        </div>
    </div>

    <div class="upload-section">
        <div class="container">
            <form id="uploadForm" class="upform" action="/upload" method="post" enctype="multipart/form-data">
                <label class="custom-file-upload">
                    <input type="file" name="file" id="fileInput">
                    <span>Choose File</span>
                </label>
                <br><br>
                <button type="submit">Upload</button>
            </form>
            <div id="loading" class="loading-animation" style="display: none;">
                <div class="spinner"></div>
            </div>
            <div id="result" style="display: none; margin-top: 20px;">
                <h2>Prediction Result:</h2>
                <p id="prediction"></p>
                <div id="info" class="info-section"></div>
            </div>
            <div id="resultSection" style="display: none; margin-top: 20px;">
                <!-- This will be populated by JavaScript -->
            </div>
        </div>
    </div>

    <script src="/static/upload.js"></script>
</body>
</html>
